TMDB_WEB_PROXY_URL=https://seamanplayerproxy.netlify.app
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YTkyOWQ2ZGU1Njg4MTY4MjBhNDNlOGQwOTdlZmJkZCIsIm5iZiI6MTczMDQ0OTcyNC4xMDIwMDAyLCJzdWIiOiI2NzI0OTEzY2M0YWE5ODk0NWVmMzQ3NjkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.J21WM18-MpoZGkkwp9sy9u7Qhz5v-ozEQH5nMR99FP8
